%p.text-l.stroke Настройки
= shared 'tab_select', { items: [{ label: 'Основные', link: edit_profile_path }, { label: 'Безопасность', link: edit_user_registration_path }, { label: 'Passkeys', link: users_passkeys_path }] }
