%turbo-frame.profiles-followers.container{id: qualify(@user)}
  = notification
  %div.info-block
    = render partial: 'users/profiles/profile_heading', locals: { main_text: 'назад', main_link: users_single_profile_path(@user) }

  %div
    %h1.text-l.stroke.heading подписки
    %div.followers-block
      - if @followings.empty?
        %p.text-s.stroke Нет подписок
      - else
        - @followings.each do |following|
          = shared 'profile_preview', { profile: following }
