%turbo-frame.profiles-single.container{id: qualify(@user)}
  = notification
  %div.info-block
    = render partial: 'users/profiles/profile_heading', locals: { main_text: 'настройки', main_link: edit_profile_path }

  %div.lifetimes-block
    %h1.text-l.stroke.heading my timelines
    %div.shared-lifetime-card-container
      - @lifetimes.each do |lifetime|
        = shared 'lifetime_card', { hide_profile_preview: true, lifetime: }
