.container.profiles-single
	%div
		%h2 профиль
		= link_to 'Настройки входа', '/users/edit'

		- @lifetimes.each do |lifetime|
			= link_to lifetime.title, single_lifetime_url(id: lifetime.id)

		= render "users/shared/links", resource_name: :user, devise_mapping: Devise.mappings[:user]
