input {
    border: none;
    outline: none;
    background: none;
    min-width: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin: 0;
    display: none;
}

::-webkit-input-placeholder {
    color: var(--lightgray);
}

:-moz-placeholder {
    color: var(--lightgray);
    opacity: 1;
}

::-moz-placeholder {
    color: var(--lightgray);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--lightgray);
}

::-ms-input-placeholder {
    color: var(--lightgray);
}

::placeholder {
    color: var(--lightgray);
}
