.lifetimes-single {
	> form {
		position: relative;
	}

	.shared-points {
        margin-top: 20px;
    }

	.chart-block {
		& {
			position: absolute;
			top: 0;
		}

		&.list {
			z-index: -1;
		}

		.shared-lapse {
			& {
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 10;
			}

			& > div.loop {
				position: absolute;
				outline: 1px solid var(--lightblue);
            	outline-offset: -1px;
				border-radius: 50%;
				z-index: -1;
			}
		}

		.year-switcher {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: 50%;
			z-index: 10;
			border-radius: 50%;
		}

		.labels {
			--offset: 100%;

			& {
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 60%;
				height: 60%;
				border-radius: 50%;
			}

			& > * {
				position: absolute;
				color: var(--lightgray);
				font-weight: 300;
				font-size: 12px;
				cursor: default;
				width: 40px;
				text-align: center;
			}
		}
	}

	.info-block {
		& {
			margin-top: 20px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		&.list.empty {
			margin-bottom: 180px;
		}

		&.donut {
			height: 520px;
		}

		div.left, div.right {
			width: 280px;
			z-index: 10;
		}

		div.title {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
		}

		div.periods {
			overflow-y: scroll;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		div.left {
			.description {
				margin-top: 4px;
				height: initial;
			}

			& > .shared-tab-select {
				margin-top: 28px;
			}

			& > .shared-button, & > .shared-dropdown-select, & > .shared-checkbox  {
				margin-top: 8px;
			}
		}
	}

	.periods-block {
		width: 100%;
		margin-top: 80px;
	}

	.social-block {
		& {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.actions {
			display: flex;
			flex-direction: row;
			gap: 8px;
		}
	}

	.comments-block {
		align-items: flex-start;
	}

	div.periods {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.likes {
		& {
			display: flex;
			flex-direction: row;
		}

		.count {
			min-width: 36px;
			box-sizing: border-box;
			padding: 0 10px;
			border: 1px solid var(--lightblue);
			border-radius: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.comments {
		div.comment, textarea {
			width: 560px;
			box-sizing: border-box;
			padding: 18px 22px;
			background-color: var(--white);
			border: 1px solid var(--lightblue);
			border-radius: 18px;
			display: flex;
			flex-direction: column;
			gap: 22px;
			word-break: break-all;
		}

		textarea {
			resize: none;
		}

		.existing {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		.shared-button {
			margin-top: 12px;
		}
	}

	@media all and (max-width: 1024px) {
		.chart-block {
			position: relative;
		}

		.info-block {
			&.donut {
				& {
					height: unset;
					flex-direction: column;
					gap: 20px;
				}

				div.left, div.right {
					width: 100%;
				}
			}

			&.list {
				div.right {
					display: none;
				}
			}
		}

		.comments {
			& {
				width: 100%;
			}

			div.comment, textarea {
				width: 100%;
			}
		}
	}
}
