.period-partial
	= form.fields_for :periods, period do |fields|
		= render partial: 'partials/editable_text', locals: { tag: 'h3', text: period.title, enabled:, form_field: :title, form: fields }
		%p #{friendly_date(period.start)} → #{friendly_date(period.end)}
