= form_for :subscription, url: subscriptions_path, html: { class: 'subscription-partial' } do |f|
	= render partial: 'partials/email', locals: { form: f }
	= render partial: 'partials/button', locals: { form: f, text: 'Подписаться' }
