.shared-button {
	& {
		background-color: var(--black);
		border-radius: 15px;
		padding: 16px 24px 16px 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 380px;
		transition: 0.2s;
		cursor: pointer;
	}

	&.hollow {
		& {
			background: none;
			border: 1px solid var(--black);
		}

		& > p {
			color: var(--black);
		}
	}

	& > p {
		color: white;
		font-size: 26px;
		text-align: center;
	}

	& > p.stroke-s {
		-webkit-text-stroke-color: white;
	}

	&:hover {
		opacity: 80%;
	}

	&.m {
		min-width: initial;
	}

	&.m > p {
		font-size: 18px;
	}

	&.s {
		min-width: initial;
	}

	&.s > p {
		font-size: 16px;
	}
}
