.shared-button {
	& {
		background-color: var(--black);
		border-radius: 15px;
		padding: 14px 24px 14px 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s;
		cursor: pointer;
	}

	&.hollow {
		& {
			background-color: initial !important;
			border: 1px solid var(--black);
		}

		&.white {
			border-color: var(--white);
		}

		&.lightblue {
			border-color: var(--lightblue);
		}

		&.black > p {
			& {
				color: var(--black);
			}

			&.stroke {
				-webkit-text-stroke-color: var(--black);
			}
		}

		&.white > p {
			& {
				color: var(--white);
			}

			&.stroke {
				-webkit-text-stroke-color: var(--white);
			}
		}

		&.lightblue > p {
			& {
				color: var(--lightblue);
			}

			&.stroke {
				-webkit-text-stroke-color: var(--lightblue);
			}
		}
	}

	&.textonly {
		border: none !important;
		background-color: initial !important;
	}

	& > p {
		color: var(--white);
		text-align: center;
	}

	& > p.stroke {
		-webkit-text-stroke-color: var(--white);
	}

	&:hover {
		opacity: 80%;
	}

	&.lightblue {
		background-color: var(--lightblue);
	}

	&.xs {
		padding: 8px 20px 10px 20px;
		border-radius: 50px;
	}
}
