.shared-button {
	& {
		background-color: var(--black);
		border-radius: 14px;
		padding: 14px 24px 14px 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s;
		cursor: pointer;
		width: fit-content;
		box-sizing: outline-box;
		outline-offset: -1px;
		box-sizing: border-box;
	}

	&.selected {
		outline-width: 2px !important;
	}

	&.hollow {
		& {
			background-color: initial !important;
			outline: 1px solid var(--black);
		}

		&.white {
			outline-color: var(--white);
		}

		&.lightblue {
			outline-color: var(--lightblue);
		}

		&.red {
			outline-color: var(--red);
		}

		&.black > p {
			& {
				color: var(--black);
			}

			&.stroke {
				-webkit-text-stroke-color: var(--black);
			}
		}

		&.white > p {
			& {
				color: var(--white);
			}

			&.stroke {
				-webkit-text-stroke-color: var(--white);
			}
		}

		&.lightblue > p {
			& {
				color: var(--lightblue);
			}

			&.stroke {
				-webkit-text-stroke-color: var(--lightblue);
			}
		}

		&.red > p {
			& {
				color: var(--red);
			}

			&.stroke {
				-webkit-text-stroke-color: var(--red);
			}
		}
	}

	&.textonly {
		& {
			outline: none !important;
			background-color: initial !important;
		}

		&.black > p {
			& {
				color: var(--black);
			}

			&.stroke {
				-webkit-text-stroke-color: var(--black);
			}
		}
	}

	& > p {
		color: var(--white);
		text-align: center;
	}

	& > p.stroke {
		-webkit-text-stroke-color: var(--white);
	}

	&:hover {
		opacity: 80%;
	}

	&.lightblue {
		background-color: var(--lightblue);
	}

	&.red {
		background-color: var(--red);
	}

	&.xs {
		padding: 8px 20px 10px 20px;
		border-radius: 50px;
		text-transform: lowercase;
	}

	&.s {
		width: initial;
	}
}
