.shared-lapse {
    & {
        position: relative;
        height: 70vh;
        min-height: 340px;
        aspect-ratio: 1 / 1;
    }

    & > * {
        width: 100%;
        height: 100%;
    }

    & > div.a {

    }
}
