.shared-lapse {
    & {
        position: relative;
        height: 70vh;
        min-height: 340px;
        max-height: 540px;
        aspect-ratio: 1 / 1;
        overflow-x: hidden;
        z-index: -1;
    }

    & > * {
        width: 100%;
        height: 100%;
    }

    &.profile-heading {
        & {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        & > div.content {
            & {
                position: absolute;
                border-radius: 50%;
                outline: 1px solid var(--lightblue);
                outline-offset: -1px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            img {
                width: 160px;
                height: 160px;
                border-radius: 50%;
                border: 1px solid var(--white);
            }

            .content {
                & {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 340px;
                }

                & > .shared-bullet-list {
                    margin-top: 8px;
                }

                .main-action {
                    margin-top: 26px;
                }
            }
        }

        & > div.fill {
            position: absolute;
            border-radius: 50%;
            background-color: var(--black);
            width: 560px;
            height: 560px;
            z-index: -1;
        }
    }
}
