.shared-lifetime-card {
    & {
        border: 1px solid var(--lightblue);
        border-radius: 28px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 18px;
    }

    & > * {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .center {
        .asset {
            & {
                width: 160px;
                height: 160px;
                min-width: 160px;
                border-radius: 50%;
                border: 1px solid var(--black);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--white);
            }

            &:not(:first-child) {
                margin-left: -60px;
            }

            & > img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .lower {
        & {
            align-items: end;
        }

        .stats {
            & {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2px;
            }
        }
    }
}

.shared-lifetime-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 420px));
    gap: 15px;
}
