.shared-nav {
	& {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 18px;
		padding: 20px 40px;
		box-sizing: border-box;
		height: 87px;
		border-color: var(--black);
	}

	&.footer {
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	& > * {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.left {
		justify-content: flex-start;
	}

	.center {
		justify-content: center;
	}

	.right {
		justify-content: flex-end;
		gap: 15%;
	}

	.logo {
		color: var(--lightblue);
	}

	.locales {
		display: flex;
		flex-direction: row;
		gap: 8px;
	}
}
