.nav-partial {
	&, & > div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	& {
		padding: 10px 20px 10px 20px;
	}

	&.footer {
		position: relative;
		padding-top: 60px;
	}

	& > div {
		width: 30%;
	}

	a {
		font-size: 16px;
	}
}
