.nav-partial {
	& {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 18px;
		margin: 20px 20px 0 20px;
		box-sizing: border-box;
		height: 47px;
		border-color: var(--darkgreen);
	}

	.input {
		max-width: 960px;
	}

	img {
		height: 100%;
	}

	.button-partial {
		background-color: var(--darkgreen);
	}

	@media all and (max-width: 570px) {
		.fav {
			display: none;
		}
	}
}
