.shared-period {
    & {
        box-sizing: border-box;
        padding: 22px;
        background-color: var(--white);
        border: 1px solid var(--lightblue);
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    input, p {
        font-size: 16px;
        padding: 0;
        height: 15px;
        overflow: visible;
    }

    p.multiline {
        height: initial;
    }

    p {
        display: inline-flex;
        gap: 4px;
    }

    input:hover {
        border-bottom: 1.5px solid gray;
    }

    img {
        max-width: 280px;
        margin-top: 20px;
        border-radius: 8px;
    }

    .date-field {
        cursor: pointer;
    }

    .file-button {
        cursor: pointer;
    }

    .delete-button {
        & {
            min-width: 100%;
            display: block;
            text-align: center;
            border-radius: 8px;
            padding: 6px 0;
            border: 1px solid var(--red);
            margin-top: 20px;
            text-decoration: none !important;
            transition: 0.2s;
        }

        &:hover {
            opacity: 80%;
        }
    }
}
