.period-partial {
    & {
        box-sizing: border-box;
        padding: 18px;
        background-color: white;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    input, p {
        font-size: 16px;
        padding: 0;
        height: 15px;
        overflow: visible;
    }

    input:hover {
        border-bottom: 1.5px solid gray;
    }
}
