- html_class ||= nil
- checked ||= false

- initial_text = checked ? text_checked : text_unchecked

.shared-checkbox{'data-controller': 'checkbox', 'data-checkbox-text-checked': text_checked, 'data-checkbox-text-unchecked': text_unchecked}
    = form.label(form_field, initial_text, {'data-checkbox-target': 'label', class: cn('hover-underline', html_class)})
    = form.check_box(form_field, {'data-action': 'change->checkbox#handleChange', class: 'no-display', checked: checked}) # <- hidden via css
