- custom_actions ||= []
- data ||= {}
- id ||= nil

%span{'data-controller': 'editable-text', data: data}
	- actions = ['blur->editable-text#handleBlur', *custom_actions]
	= content_tag tag, text, {'contenteditable': enabled || nil, 'data-action': actions.join(' '), 'data-id': id}
	= form.hidden_field form_field, {'data-editable-text-target': 'field'}
