- is_password ||= false
- required ||= false

.input
	- if defined? form
		- if form_field == :password
			= form.password_field form_field, placeholder:, required:
		- else
			= form.text_field form_field, placeholder:, required:
	- else
		%input{ type: 'text', placeholder: placeholder }
