%a.shared-profile-card{href: users_single_profile_url(user), data: { turbo_frame: '_top' }}
    = some_user_profile_picture(user)
    %div.content
        %p.text-m.stroke= some_user_name(user)
        %p.text-xs= "#{user.followers_count} подписчиков"