= form_for :subscription, url: subscriptions_path, html: { class: 'shared-subscription' } do |f|
	= render partial: 'shared/email', locals: { form: f }
	= render partial: 'shared/button', locals: { form: f, text: 'Подписаться' }
