= form_for :subscription, url: subscriptions_path, html: { class: 'shared-subscription' } do |f|
	= shared 'input', { placeholder: t('.placeholder'), form_field: :email, form: f, required: true }
	= shared 'button', { size: 's', color: 'white', hollow: true, form: f, text: t('.button') }
