.savings-index.container
  %div
    %h1.text-l.stroke.heading= t('.heading')
    
    %div.shared-lifetime-card-container
      - if @saved_lifetimes.empty?
        %p.text-s.stroke= t('.empty_state')
      - else
        - @saved_lifetimes.each do |i|
          = shared 'lifetime_card', { lifetime: i }
