.profiles-edit {
    .settings-block {
        & > * {
            width: 100%;
        }

        & > .shared-tab-select {
            margin-top: 14px;
            margin-bottom: 28px;
        }

        .shared-input {
            margin-top: 4px;
            margin-bottom: 14px;
        }

        .save-button {
            margin-top: 22px;
        }

        .passkey {
            border: 1px solid var(--lightblue);
            border-radius: 14px;
            padding: 8px 12px;
            margin-bottom: 6px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .text-m {
            margin-bottom: 8px;
        }

        form#add-passkey-form {
            & {
                margin-top: 26px;
            }

            .shared-button {
                margin-top: 22px;
            }
        }
    }

    @media all and (max-width: 800px) {
        .info-block {
            & {
                overflow-x: hidden;
            }

            * {
                color: var(--black) !important;
                -webkit-text-stroke-color: var(--black) !important;
                border-color: var(--black) !important;

            }
        }
    }
}
