.profiles-single {
    .info-block {
        overflow-x: visible;
    }

    .followers-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }

    @media all and (max-width: 800px) {
        .info-block {
            & {
                // overflow-x: hidden;
            }

            * {
                color: var(--black) !important;
                -webkit-text-stroke-color: var(--black) !important;
                border-color: var(--black) !important;
            }
        }
    }
}