.index-page
	.circle-container
		%div.circle
			%p.caption (time)
			%p.title.stroke-m lapse
			%p.subtitle.stroke-s Помогаем вам не забыть о самом важном и сохранить все воспоминания в одном месте

			= render partial: 'partials/subscription'
