body {
    background-color: #EAEAEA;
}

a, p, h1, h2, input, button {
    font-family: 'Arial';
    color: var(--blue);
    margin: 0;
}

a {
    text-decoration: none;
}

.stroke-s {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--blue);
}

.stroke-m {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--blue);
}

.container {
    & {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    & > div {
        width: 100%;
        padding: 0 40px 0 40px;
    };
}

@media all and (min-width: 1370px) {
    .container {    
        & > div {
            width: 1370px;
        };
    }
}
