:root {
    --white: white;
    --black: #151E3F;
    --lightgray: #C7C7C7;
    --lightblue: #6290C8;
}

.white {
    color: var(--white)
}

.black {
    color: var(--black);
}

.lightgray {
    color: var(--lightgray);
}

.lightblue {
    color: var(--lightblue);
}