%turbo-frame.likes{id: qualify(@lifetime, 'likes')}
    - if current_user
        - if @lifetime.liked_by?(current_user)
            = shared 'button', size: 'xs', color: 'lightblue', hollow: true, method: :delete, no_confirm: true, link: lifetime_like_url(@lifetime, @lifetime.likes.find_by(user: current_user)), text: 'не нравится'
        - else
            = shared 'button', size: 'xs', color: 'lightblue', hollow: true, method: :post, no_confirm: true, link: lifetime_likes_url(@lifetime), text: 'нравится'
    %div.count
        %p.text-s.stroke.lightblue= @lifetime.like_count
