- hide_years ||= false

- last_year = nil

.periods
	- @periods.each do |period|
		- if !hide_years && last_year != period.start.year
			%h3= period.start.year
			- last_year = period.start.year
		= shared 'period', { enabled: @editable, period:, form: }
	
	- if @editable
		= shared 'button', { text: t('lifetimes.periods.add_period'), link: set_param('new', 1), advance: true, no_preload: true, size: 's', html_class: 'edit-button' }
