- last_year = nil

.periods
	%h2 периоды
	- @periods.each do |period|
		- if last_year != period.start.year
			%h3= period.start.year
			- last_year = period.start.year
		= shared 'period', { enabled: @editable, period:, form: }
	
	- if @editable
		= shared 'button', { text: 'Добавить', link: set_param('new', 1), size: 's', html_class: 'edit-button' }
		= @new_period
