.container
	.single-lifetime
		%h1 lifetime page
		%h2= @lifetime.title

		%div.chart{'data-controller': 'lifetime', 'data-lifetime-data': @lifetime.as_json(include: [:periods]).to_json}
			%div
				%canvas{'data-lifetime-target': 'canvas'}

		%div.periods
			%h2 периоды
			- @lifetime.periods.each do |period|
				= render partial: 'partials/period', locals: { period: }
