%h1 lifetime page
%h2= @lifetime.title

.single-lifetime
	%div{'data-controller': 'lifetime', 'data-lifetime-data': @lifetime.as_json(include: [:periods]).to_json}
		%canvas{'data-lifetime-target': 'canvas'}
